<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gloss.chatroom.mapper.FriendMapper">
    <select id="selectFriendList" resultType="com.gloss.chatroom.model.Friend">
        select id as friendId, username as friendName from user where id in
        (select friendId from friend where userId = #{userId});
    </select>
</mapper>